* {
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
}
img {
    width: 100%;
    height: auto;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
.header {
    font-family: Roboto, Oswald;
    text-align: center;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
#pic {
    padding-left: 0rem;
}
#words {
    padding-top: 2rem;
    font-size: 1.3rem;
}
.author {
    font-style: italic;
    font-family: Roboto;
    font-size: 1rem;
    padding-top: 1.0rem;
}
.panel-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.panel-body {
    padding-left: 0.8rem;
}
iframe {
    width: 80%;
    height: 250px;
}
h2 {
    text-align: center;
}
.panel-heading1 {
    font-family: monospace;
    font-size: 1.3rem;
    text-align: center;
}
.row1 {
    position: relative;
    text-align: center;
}
#footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    width: 100%;
    background-color: darkolivegreen;
    border: 0.1rem solid darkseagreen;
    padding-left: 1rem;
}